html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title 게시판
  body
    h1 게시판
    a(href='/write')
      button 글쓰기
    table
      tr
        th ??
        th 제목
        th 작성자
      each result in results
        tr
          td ??
          td
            a(href="/viewPage?id="+result._id)
              span= result.title
          td= result.UserName