html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    script(src="https://code.jquery.com/jquery-3.3.1.min.js")
    script(src="/js/viewPage.js")
    link(href="/css/viewPage.css" rel="stylesheet")
    title 게시판보기
  body
    h3=result.UserName + "(이)가 쓴글"
    div
      textarea(readonly id="title")=result.title
    div
      textarea(readonly id="posts")=result.posts
    div(id="buttonB")
      button(class="del" type="button") 삭제
    a(href="/postUpdate?id="+result._id)
      button 수정
    a(href="/")
      button 메인으로