html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    script(src="https://code.jquery.com/jquery-3.3.1.min.js")
    script(src="/js/viewPage.js")
    link(href="/css/viewPage.css" rel="stylesheet")
    title 게시판보기
  body
    div
      textarea()=results[0].title
    div
      textarea()=results[0].posts
    button(class="del" type="button") 삭제
    a(href="/postUpdate?id="+results[0]._id)
      button 수정