html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    script(src="https://code.jquery.com/jquery-3.3.1.min.js")
    script(src="/js/update.js")
    script(src="/js/write.js")
    link(href="/css/write.css" rel="stylesheet")
    title 글작성!
  body
    h1 작성
    form#postForm(action="/addpost" method="post")
      div
        textarea(name="title" class="titleText" placeholder="제목" required="required")=result.title
      div
        textarea(name="posts" class="postsText" placeholder="내용" required="required")=result.posts
      div
        textarea(name="UserName" class="nameText" placeholder="유저이름" required="required")=result.UserName
      div
        input(type="password" name="PW" class="HIDE" id="PW" placeholder="비밀번호" required="required")
      input(class='HIDE' type="submit" id="PWB")
      button(class="back" id="fm" type="button") 수정
      a(href="/viewpage?id="+result._id class="back")
        button(type="button") 취소
      a(href="/" class="HIDE")
        button(type="button") 취소