html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    script(src="https://code.jquery.com/jquery-3.3.1.min.js")
    script(src="/js/update.js")
    link(href="/css/write.css" rel="stylesheet")
    title 글작성!
  body
    h1 작성
    form#postForm(action="/addpost" method="post")
      div(class="userForm")
        div(class="One")
          input(name="UserName" class="HIDE" id="nameText" placeholder="작성자" required="required")
        div(class="Two")
          input(type="password" name="PW" class="HIDE" id="PW" placeholder="비밀번호" required="required")
      div
        input(name="title" id="titleText" placeholder="제목" required="required" value=result.title)
      div
        textarea(name="posts" id="postsText" placeholder="내용" required="required")=result.posts

      div(class="formButton")
        a(href="/viewpage?id="+result._id class="back")
          button(type="button" style="cursor: pointer;" ) 취소
        a(href="/" class="HIDE")
          button(type="button" style="cursor: pointer;")  취소
        button(class='HIDE' type="submit" id="PWB" style="cursor: pointer;") 작성
        button(class="back" id="fm" type="sumbit" style="cursor: pointer;") 수정