html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title 글작성!
  body
    form(action="/addpost" method="post")
      div
        textarea(name="title")
      div
        textarea(name="posts")
      div
        textarea(name="UserName")
      div
        input(type="password" name="PW")
      input(type="submit")