@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
.Rectangle-1560-copy {
  margin: 97px auto;
  width: 829px;
  background-color: #ffffff;
  box-shadow: 1.3px 1.5px 1px 0 rgba(0, 0, 0, 0.1);
}
.Rectangle-1560 {
  width: 829px;
  background-color: #f8f8f8;
}
.title {
  font-size: 36px;
}
th {
  width: 120px;
  height: 43px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: -0.4px;
  color: #777777;
}
.tdone {
  padding-left: 14px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 28px;
  letter-spacing: -0.4px;
  text-align: left;
  color: #333333;
}
td {
  padding-right: 12px;
  width: 120px;
  height: 50px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
  line-height: 28px;
  text-align: right;
  color: #555555;
}
a:link {
  text-decoration: none;
  color: #555555;
}
a:visited {
  text-decoration: none;
  color: #555555;
}
a:active {
  text-decoration: none;
  color: #555555;
}
a:hover {
  text-decoration: underline;
  color: #555555;
}
