@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
* {
  font-family: "Noto Sans KR", sans-serif;
}
.Rectangle-1560-copy {
  margin: 59px auto 25px;
  width: 926px;
  background-color: #ffffff;
  box-shadow: 1.3px 1.5px 1px 0 rgba(0, 0, 0, 0.1);
  border-collapse: collapse;
}
h1 {
  margin: 20px auto;
}
.Rectangle-1560 {
  width: 926px;
  background-color: #f8f8f8;
}
.title {
  font-size: 36px;
}
th {
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  width: 120px;
  height: 43px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: -0.4px;
  color: #777777;
}
.CN {
  border-right: #eeeeee;
}
tr {
  border-bottom: 1px solid #eeeeee;
}
tr:last-child {
  border: 0;
}
td:last-child {
  border: 0;
}
.tdOne {
  padding-left: 14px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 28px;
  letter-spacing: -0.4px;
  text-align: left;
}
.tdTwo {
  padding-left: 14px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: -0.4px;
  text-align: left;
  color: #333333;
}
td {
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding-right: 12px;
  width: 120px;
  height: 50px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
  line-height: 28px;
  text-align: right;
  color: #555555;
}
a:link {
  font-size: 14px;
  text-decoration: none;
  color: #333333;
}
a:visited {
  font-size: 14px;
  text-decoration: none;
  color: #333333;
}
a:active {
  font-size: 14px;
  text-decoration: none;
  color: #333333;
}
a:hover {
  font-size: 14px;
  text-decoration: none;
  color: #333333;
}
.buttonLink {
  text-align: right;
  margin: 0 auto;
  width: 926px;
}
body {
  background-color: #eeeeee;
}

.pageLink {
  position: relative;
  text-align: center;
  width: 926px;
  height: 61px;
  background-color: #f7f7f7;
  margin: 0 auto;
}
.back {
  margin: 15px 16px 23px 15px;
  width: 110px;
  height: 31px;
  background-color: #f7f7f7;
  border: solid 1px #e1dedd;
  font-size: 12px;
  line-height: 18px;
  color: #555555;
  cursor: pointer;
}
.start {
  margin: 15px 16px 23px 15px;
  width: 35px;
  height: 31px;
  background-color: #f7f7f7;
  border: solid 1px #e1dedd;
  font-size: 12px;
  line-height: 18px;
  color: #555555;
  cursor: pointer;
}
.end {
  margin: 15px 23px 16px 15px;
  width: 35px;
  height: 31px;
  background-color: #f7f7f7;
  border: solid 1px #e1dedd;
  font-size: 12px;
  line-height: 18px;
  color: #555555;
  cursor: pointer;
}
.go {
  margin: 15px 23px 16px 15px;
  width: 110px;
  height: 31px;
  background-color: #f7f7f7;
  border: solid 1px #e1dedd;
  font-size: 12px;
  line-height: 18px;
  color: #555555;
  cursor: pointer;
}
.pageNum {
  box-sizing: border-box;
  /*padding: 18px;*/
  font-size: 16px;
  display: inline-block;
  width: 40px;
}
.notPosts {
  text-align: center;
}
.postsNumber {
  text-align: center;
  width: 45px;
  margin: 0 auto;
  padding: 0px 0px 0px 0px;
}
.WB {
  margin: 16px auto;
  width: 50px;
  height: 31px;
  background-color: #f7f7f7;
  border: solid 1px #e1dedd;
  line-height: 18px;
  color: #555555;
  width: 75px;
  height: 35px;
  font-size: 15px;
  cursor: pointer;
}
.buttonsB {
  height: 60px;
  width: 250px;
  position: absolute;
  top: 0;
  right: 7px;
}
.buttonsA {
  height: 60px;
  width: 250px;
  position: absolute;
  top: 0;
  left: 7px;
}
