@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic");
body {
  font-family: "Nanum Gothic", serif;
  font-size: 30px;
}
button {
  background-color: #f7f7f7;
  border: solid 1px #e1dedd;
  font-size: 12px;
  line-height: 18px;
  color: #555555;
  width: 75px;
  height: 35px;
  font-size: 15px;
}
#title {
  margin: 0 0 0 0;
}
.titleDiv {
  background-color: #fbfbfb;
  width: 926px;
  color: #555555;
  font-weight: bold;
  box-sizing: border-box;
  padding: 17px 0 17px 14px;
  border-bottom: 1px solid #eeeeee;
}
.postsDiv {
  font-size: 14px;
  width: 926px;
  white-space: pre-line;
  box-sizing: border-box;
  padding: 17px 0 17px 14px;
}
.note {
  background-color: #ffffff;
  width: 926px;
  box-shadow: 1.3px 1.5px 1px 0 rgba(0, 0, 0, 0.1);
}
textarea {
  resize: none;
}
body {
  background-color: #eeeeee;
}
#buttons {
  margin: 0 auto;
  text-align: right;
  width: 926px;
}
.del {
  cursor: pointer;
}
#updatePwCheck {
  cursor: pointer;
}
.main {
  margin: 93px auto;
  width: 926px;
}
