@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic");
body {
  font-family: "Nanum Gothic", serif;
  font-size: 30px;
}
h1 {
  text-align: center;
  font-size: 36px;
}
#title {
  height: 20px;
  width: 750px;
}
#posts {
  height: 200px;
  width: 750px;
}
.note {
  text-align: center;
  margin: 0 auto;
}
textarea {
  resize: none;
}
body {
  background-color: #eeeeee;
}
#buttons {
  margin: 0 auto;
  text-align: right;
  width: 750px;
}
