@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
* {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
}
body {
  background-color: #eeeeee;
}
h1 {
  font-family: sans-serif;
  font-size: 36px;
  margin: 20px auto;
  text-align: center;
}
button {
  background-color: #f7f7f7;
  border: solid 1px #e1dedd;
  font-size: 12px;
  line-height: 18px;
  color: #555555;
  width: 75px;
  height: 35px;
  font-size: 16px;
}
#titleText {
  height: 20px;
  width: 926px;
  font-size: 16px;
  padding: 17px 14px 17px 14px;
}
#postsText {
  height: 500px;
  width: 926px;
  font-size: 16px;
  line-height: 28px;
  padding: 17px 14px 17px 14px;
}
#nameText {
  height: 20px;
  width: 150px;
  font-size: 16px;
  padding: 17px 14px 17px 14px;
}
#PW {
  height: 20px;
  width: 150px;
  font-size: 16px;
  padding: 17px 14px 17px 14px;
}
#postForm {
  text-align: center;
  margin: 59px auto;
}
.formButton {
  margin: 0 auto;
  text-align: right;
  width: 961px;
}
textarea {
  resize: none;
}
#userForm {
  width: 1000px;
  margin: 0 auto;
  text-align: left;
}
.One,
.Two {
  display: inline-block;
}
.One {
  margin: 0 32px 0 0;
}
.titleDiv {
  width: 1000px;
  margin: 16px auto;
}
.postsDiv {
  width: 1000px;
  margin: 16px auto;
}
#PWB,
#fm {
  margin-right: 8px;
}
label {
  font-size: 14px;
}
